.xyzt {
    background-image: url('../../pictures/c6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Center the background image */
    height: 100vh; /* Set height to full viewport height */
    position: realtive; /* Ensure the parent container is positioned */
  }
  
  .pri{
    text-align: center;
    font-size: 60px;
    color: #e3d7d7;
  }
  .power-crud-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 90px;
    margin-top: 5px;
    box-shadow: 0 0 30px rgb(93, 112, 167);
    background-color: #f0e2e2;
    border-radius: 10px;
    position: absolute; /* Position the form absolutely */
    top: 56%; /* Center vertically */
    left: 170px; /* Adjust as needed to move the form to the left */
    transform: translateY(-50%); /* Center the form vertically */
  }
  
  
  
  .power-crud-form-group {
    margin-bottom: 33px;
  }
  
  .power-crud-form input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-size: 16px;
  }
  
  .power-crud-form input[type="text"]:focus {
    border-color: #007bff;
  }
  
  .power-crud-button {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .power-crud-button.primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 13px 152px;
  
  }
  
  .power-crud-button.info {
    background-color: #17a2b8;
    color: #ffffff;
    padding: 13px 152px;
  }
  
  .power-crud-button.primary:hover,
  .power-crud-button.info:hover {
    background-color: #0056b3;
  }
  
  .power-crud-form-link {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .power-crud-form-link button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #17a2b8;
    border-radius: 6px;
    background-color: transparent;
    color: #17a2b8;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .power-crud-form-link button:hover {
    background-color: #f0f0f0;
  }