/* t.css */
.lp
{
  background-color:#181717;
}
.image-gallery-left-nav,
.image-gallery-right-nav {
  background-color: #181717; /* Set the background color */
  /* border: 1px solid #000000; Set the border color */
  border-radius: 5px; /* Add border-radius for rounded corners */
  padding: 10px; /* Add padding for better spacing */
  /* Add margin for better spacing */
  cursor: pointer; /* Change cursor on hover to indicate interactivity */
}
.image-gallery {
  max-width: 1200px; /* Set the maximum width of the image gallery */
  
  /* background-color: #181717; */
  /* height: 500px; */
}
.image-gallery-left-nav:disabled,
.image-gallery-right-nav:disabled {
  opacity: 0.5; /* Reduce opacity for disabled buttons */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}

/* Add any additional styles as needed */
