.moon-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cbc7c7;
    border-radius: 8px;
    margin-top: 130px;
    position: absolute;
    margin-left: 590px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .moonpic{
     background-image: url('../../src//images/bgchess.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     height: 725px;
     opacity: 0.9;
  }
  .moon-form-group {
    margin-bottom: 20px;
  }
  
  .moon-form input[type="text"],
  .moon-form input[type="email"],
  .moon-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .moon-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .moon-button.primary {
    background-color: #28a745;
  }
  
  .moon-button.info {
    background-color: #17a2b8;
  }
  
  .moon-button:hover {
    background-color: #0056b3;
  }
  
  .moon-form-link {
    text-decoration: none;
  }
  
  .moon-button[size="lg"] {
    padding: 15px 30px;
    font-size: 20px;
  }