

.super-picture{
    background-image: url("../pictures/c48.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    }
    
    
    .super-registration-container {
        max-width: 450px; /* Reduced the max-width */
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        padding: 35px;
        box-shadow: 0 0 30px rgb(191, 195, 208);
        margin-right: 470px;
        
    
      }
      
      .super-form-group {
        margin-bottom: 15px; /* Slightly reduced margin */
      }
      
      .ch
      {
        color: #9991d7;
      }
      .super-form-group label {
        display: block;
        font-size: 16px;
        color: #e8ca85;
        margin-bottom: 8px;
      }
      
      .super-form-group input {
        width: 100%;
        padding: 12px;
        border: 2px solid #3498db;
        border-radius: 5px;
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        transition: border-color 0.3s ease-in-out;
      }
      
      .super-form-group input::placeholder {
        color: #777;
      }
      
      .super-form-group input:focus {
        outline: none;
        border-color: #2980b9;
      }
      
      .super-btn-enroll {
        background-color: #3498db;
        color: #fff;
        padding: 12px 58px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        margin-left: 100px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }
      
      .super-btn-enroll:hover {
        background-color: #b078d8;
       
      }
    
      .success-message {
        margin-top: 10px;
        padding: 10px;
        background-color: #27ae60; /* Green color for success */
        color: #fff;
        border-radius: 5px;
      }
      
      /* SuccessModal.css */
    
    /* SuccessModal.css */
    
    .modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
      background-color: #ecf0f1;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 80%;
      margin-left: 130px;
      text-align: center;
      position: relative; /* Added */
    }
    
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #555;
      font-size: 24px;
      cursor: pointer;
    }
    
    .close:hover {
      color: #333;
    }
    
    .success-message {
      color: #4CAF50;
      font-size: 20px;
      margin-bottom: 20px;
    }
    
    .success-message strong {
      font-weight: bold;
       
    }
    
    @media (max-width: 768px) {
      .modal-content {
        max-width: 90%;
        padding: 20px;
      }
    }